<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:p="http://www.springframework.org/schema/p"
	   xmlns:redis="http://www.springframework.org/schema/redis"
	   xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/redis http://www.springframework.org/schema/redis/spring-redis.xsd">

	<!-- jedis connection factory -->
	<bean id="jedisConnFactory" class="org.springframework.data.redis.connection.jedis.JedisConnectionFactory"
		  p:hostName="${redis.host}" p:port="${redis.port}" p:usePool="${redis.usePool}">
		<constructor-arg index="0" ref="jedisPoolConfig" />
	</bean>

	<!-- jedis pool configuration -->
	<bean id="jedisPoolConfig" class="redis.clients.jedis.JedisPoolConfig">
		<!-- 连接耗尽时是否阻塞,false报异常,true阻塞直到超时 -->
		<property name="blockWhenExhausted" value="${redis.blockWhenExhausted}" />
		<!-- 最大空闲连接数 -->
		<property name="maxIdle" value="${redis.maxIdle}" />
		<!-- 最小空闲连接数 -->
		<property name="minIdle" value="${redis.minIdle}" />
		<!-- 最大连接数 -->
		<property name="maxTotal" value="${redis.maxTotal}" />
		<!-- 获取连接时的最大等待毫秒数,默认-1(阻塞不确定的时间) -->
		<property name="maxWaitMillis" value="${redis.maxWaitMillis}" />

		<!-- 对从连接池拿到的connection是否进行有效性检查 -->
		<property name="testOnBorrow" value="${redis.testOnBorrow}" />
		<!-- 对返回到连接池的connection是否进行有效性检查 -->
		<property name="testOnReturn" value="${redis.testOnReturn}" />

		<!-- 定时对连接池中的connection进行有效性检查 -->
		<property name="testWhileIdle" value="${redis.testWhileIdle}" />
		<!-- idle object evitor 逐出连接的最小空闲时间 -->
		<property name="minEvictableIdleTimeMillis" value="${redis.minEvictableIdleTimeMillis}" />
		<!-- idle object evitor 两次扫描之间sleep的毫秒数 -->
		<property name="timeBetweenEvictionRunsMillis" value="${redis.timeBetweenEvictionRunsMillis}" />
		<!-- idle object evitor 每次扫描的最多的对象数 -->
		<property name="numTestsPerEvictionRun" value="${redis.numTestsPerEvictionRun}" />
	</bean>

	<!-- redis template definition -->
	<bean id="redisTemplate" class="org.springframework.data.redis.core.RedisTemplate"
		  p:connectionFactory-ref="jedisConnFactory" />

	<!-- string redis template definition -->
	<bean id="stringRedisTemplate" class="org.springframework.data.redis.core.StringRedisTemplate"
		  p:connectionFactory-ref="jedisConnFactory" />
</beans>