<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.cardinfo.repo.UrmMinfRepo">
   <select id="findAllMerId" resultType="string">
      SELECT merc_id
      FROM t_urm_minf a
      minus
      select merc_id
      from t_urm_minf b
      where org_in_no = '00000002'
      and b.merc_id not in
       <foreach item="item" index="index" collection="merchantNos"
                open="(" separator="," close=")">
           #{item}
       </foreach>
    </select>
</mapper>