<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.cardinfo.repo.UrmMinfRepo">
   <select id="findAllMerId" resultType="string">
      SELECT merc_id
      FROM t_urm_minf a
      minus
      select merc_id
      from t_urm_minf b
      where org_in_no = '00000002'
      and b.merc_id not in ( '801310058140016',
                             '801310058120059',
                             '801310073920020',
                             '801310058120065',
                             '801310058140022',
                             '801310058140023',
                             '801310058140024',
                             '801310058120062',
                             '801310058120063',
                             '801310058140014',
                             '801310058140019',
                             '801310054510003',
                             '801310073920024',
                             '801310058120055',
                             '801310073720007',
                             '801310073920025',
                             '801310073920023',
                             '801310082490001',
                             '801310089990003',
                             '801350172980001',
                             '801290058140001')
    </select>
</mapper>